@import "bootstrap";

body {
    font-family: 'Roboto Mono', monospace;
    color: #494f54;
}

p {
    font-size: 1rem;
}

.navbar {
    padding-top: 50px;
    padding-bottom: 0;

    .container {
        position: relative;
    }

    .navbar-toggler {
        background-color: white;
        border-color: transparent;
        padding: 15px;
        border-radius: 99999px;
        margin-left: auto;
        color: rgba(0, 0, 0, .3);

        &:hover {
            color: rgba(0, 0, 0, .5);
        }
    }

    .navbar-collapse.show,
    .navbar-collapse.collapsing {
        position: absolute;
        right: 15px;
        left: 15px;
        top: 80px;
        color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        text-align: left;
        font-size: 1rem;
        border-radius: 10px;
        background-color: white;

        ul {
            padding: 1rem;

            a {
                padding: .5rem 1rem;
            }
        }
    }

    button:focus {
        outline: none;
    }
}

@media (min-width: 576px) {
    .navbar {
        .navbar-collapse.show,
        .navbar-collapse.collapsing {
            min-width: 300px;
            left: initial;
        }
    }
}

#about {
    .photo {
        min-height: 300px;
    }
}

.social-link {
    font-size: 3rem;

    a:hover {
        text-decoration: none;
    }
}

.social-logo-github {
    color: #24292e;
}

.social-logo-facebook {
    color: #3b5998;
}

.social-logo-twitter {
    color: #1da1f2;
}

.social-logo-instagram {
    color: #ef4957;
}

.social-logo-linkedin {
    color: #0077b5;
}

#showcase {
    .row {
        margin-bottom: 4em;
    }

    p {
        padding: 1rem;
    }

    .portfolio-image {
        color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .portfolio-action {
        color: rgba(0, 0, 0, .3);
        background-color: transparent;
        border-color: transparent;

        &:hover {
            color: rgba(0, 0, 0, .5);
        }
    }
}

#about,
#showcase {
    margin-bottom: 9em;
}

.navbar-collapse,
.navbar-toggler,
.portfolio-action,
.portfolio-image {
    box-shadow: 0px 0px 10px;
}

ins {
    text-decoration: none;
    background-color: #7850c8;
    color: white;
}

#footer {
    .credit {
        background-color: #7850c8;
        color: white;
    }
}

.single {
    .navbar-brand {
        img {
            position: absolute;
            bottom: 0;
            height: 62px;
            width: 62px;
            color: rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}