<!-- +++++ Navbar +++++ -->
<nav class="navbar navbar-light no-print">
    <div class="container">
        <a class="navbar-brand" href="/">What is <ins style="background-color: gray">this?</ins> <span
                class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" style="z-index: 2020;">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.main-nav %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.page }}</a>
                </li>

                {% endfor %}

                <div class="dropdown-divider"></div>

                <strong>Dark Mode</strong>
                <div class="custom-control custom-switch">
                    <input id="dark-mode-toggle" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="dark-mode-toggle"></label>
                </div>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>