<nav class="accordion" id="accordion">
    <div class="card border-bottom">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tableofcontent"
                    aria-expanded="true" aria-controls="tableofcontent">
                    Table of Content
                </button>
            </h5>
        </div>
        <div id="tableofcontent" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div id="toc" class="card-body">
            </div>
        </div>
    </div>
</nav>