---
layout: default
---
<!-- +++++ Hero +++++ -->
<div id="hero" class="min-vh-100 d-flex flex-column">

  {%- include navigation.html -%}

  <!-- +++++ Welcome Section +++++ -->
  <header class="container my-auto" id="about">
    <div class="row text-center text-lg-left">
      <div class="col-lg-4 text-center mb-4 my-lg-auto">
        <a href="{{ site.data.resume.picture_big | relative_url }}" target="_blank">
          <img class="rounded-circle mb-3" src="{{ site.data.resume.picture | relative_url }}" alt="{{ site.data.resume.name }} Personal Site">
        </a>
        {%- include socialmedia.html -%}
      </div>
      <div class="col-lg-8 my-auto">
        {{ content }}
      </div>
    </div>
  </header>
</div>

<!-- +++++ Blog +++++ -->
{%- if site.posts.size > 0 and site.show_blog -%}
<div id="blog" class="min-vh-100 d-flex flex-column">
  <div class="container my-auto py-5">
    <h2 class="mb-5 text-center">{{ page.list_title | default: "Blog" }}</h2>
    <div class="row mb-3">
      {%- for post in site.posts limit:site.post_limit -%}
      <div class="col-sm-4 my-3">
        <div class="card">
          {%- if post.cover -%}
          <img src="{{ post.cover | relative_url }}" alt="{{ post.title | escape }}" class="gradient-thumbnail card-img-top">
          {%- endif -%}
          <div class="card-body p-4">
            <h3 class="h4 card-title">
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            <p class="card-text">
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
            </p>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <p class="card-text text-right text-muted"><small>{{ post.date | date: date_format }}</small></p>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
    <a href="{{ '/blog' | relative_url }}" class="btn bg-primary text-white btn-block rounded-pill">SEE MORE</a>
    <a href="{{ '/feed.xml' | relative_url }}" class="btn bg-primary text-white btn-block rounded-pill">SUBSCRIBE RSS</a>
  </div>
</div>
{%- endif -%}