---
layout: default
---

<!-- +++++ Hero +++++ -->
<div id="hero" class="min-vh-100 d-flex flex-column">

  {%- include navigation.html -%}

  <!-- +++++ Welcome Section +++++ -->
  <header class="container my-auto" id="about">
    <div class="row text-center text-lg-left my-auto">
      <div class="col-lg-4 photo d-flex align-items-center text-center">
        <div class="col-12 text-center">
          <img class="rounded-circle my-auto" src="{{ site.data.resume.picture | relative_url }}" alt="{{ site.data.resume.name }} Personal Site">
          {%- include socialmedia.html -%}
        </div>
      </div><!-- /col-lg-4 -->
      <div class="col-lg-8 my-auto">
        {{ content }}
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </header>
</div>

<!-- +++++ Blog +++++ -->
{%- if site.posts.size > 0 and site.show_blog -%}

<div id="blog" class="min-vh-100 d-flex flex-column position-relative">
  {%- if site.show_blog -%}
  <div class="cta-button">
    <a href="#blog" class="btn btn-lg">BLOG</a>
  </div>
  {%- endif -%}

  <div class="container my-auto py-5">
    <h2 class="mb-5 text-center">{{ page.list_title | default: "Blog" }}</h2>
    <div class="card-columns">

      {%- for post in site.posts limit:site.post_limit -%}

      <div class="card rounded-0">
        {%- if post.cover -%}
        <img src="{{ post.cover | relative_url }}" alt="{{ post.title | escape }}" class="gradient-thumbnail">
        {%- endif -%}
        <div class="card-body">
          <h3 class="card-title">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          <p class="card-text">
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
          </p>

          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <p class="card-text text-right"><small class="text-muted">{{ post.date | date: date_format }}</small></p>
        </div>
      </div>

      {%- endfor -%}

    </div>
    <a href="{{ '/blog' | relative_url }}" class="btn bg-primary text-white btn-block rounded-pill mt-5">SEE MORE</a>
    <a href="{{ "/feed.xml" | relative_url }}" class="btn bg-primary text-white btn-block rounded-pill">SUBSCRIBE RSS</a>
  </div>
</div>

{%- endif -%}