---
layout: default
---
<!-- +++++ Portfolio +++++ -->
<div id="main">

    {%- include navigation.html -%}

    <section class="container" id="showcase">
        <h1 class="text-center mb-5">{{ page.title }}</h1>
        {% assign sorted = site.portfolios | sort: 'release_date' | reverse %}
        {% for portfolio in sorted %}
        <article class="row">
            <div class="col-lg-7 text-center px-4 d-flex align-items-center order-2">
                <img class="portfolio-image img-fluid mx-auto w-100" src="{{ portfolio.featured_image | relative_url }}"
                    alt="{{ portfolio.title }} - {{ portfolio.subtitle }}" />
            </div>
            
            {%- capture loop -%}{%- cycle 'odd', 'even' -%}{%- endcapture -%}
            {%- if loop == 'odd' -%}
                <div class="col-lg-5 px-4 d-flex align-items-center order-1">
            {%- else -%}
                <div class="col-lg-5 px-4 d-flex align-items-center order-1 order-lg-2">
            {%- endif -%}
            
                <div class="w-100">
                    <h2 class="h3 mb-2"><ins style="background-color: skyblue">{{ portfolio.title }}</ins> - {{ portfolio.subtitle }}</h2>
                    <div class="mb-4">
                        {% if portfolio.tags.size > 0 %}
                        {% for tag in portfolio.tags %}
                            <span class="badge lang-{{tag}}">{{ tag | upcase }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {{ portfolio.content }}

                    {% if portfolio.github_link %}
                    <a class="portfolio-action btn btn-lg btn-light mb-4" href="{{ portfolio.github_link }}"><i class="social-logo social-logo-github"></i> Github Repo</a>
                    {% endif %}
                    {% if portfolio.download_link %}
                    <a class="portfolio-action btn btn-lg btn-light mb-4" href="{{ portfolio.download_link }}">Download</a>
                    {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}
    </section>

</div>