---
layout: default
---
<div id="cv">

    {%- include navigation.html -%}

    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-4 col-xl-3">
                <!-- Left Sidebar -->
                <div class="sticky-top no-print" style="padding-top: 2rem;">
                    <div class="card text-center" style="border-radius: 0;">
                        <div class="bg-purple text-white p-4">
                            <div class="row">
                                <div class="col-4 col-lg-12">
                                    <img class="img-fluid m-auto mt-5" src="{{ site.data.resume.picture | relative_url }}" alt="{{ site.data.resume.name }} Profile Picture" height="200" width="200">
                                </div>
                                <div class="col-7 col-lg-12">
                                    <h1 class="h4 card-title mt-4">{{ site.data.resume.name }}</h1>
                                    <p class="card-text">{{ site.data.resume.occupation }}</p>
                                    
                                    {%- include socialmedia.html -%}
                                </div>
                            </div>
                        </div>
                        <div class="text-muted no-print p-4">
                            <button class="btn bg-purple text-white btn-block rounded-pill text-uppercase"
                                onclick="window.print()">Print CV</button>
                            <button class="btn bg-purple text-white btn-block rounded-pill text-uppercase"
                                onclick="window.print()">Download CV</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="col-lg-8 col-xl-9 cv-content">

                <!-- Right Sidebar -->
                <div class="sticky-top no-print">
                    <div class="navigation" style="padding-top: 2rem;">
                        <ul class="list-inline">
                            {%- if site.data.resume.personalinfo.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Profile" href="#profile">
                                    <img src="{{ '/assets/icons/017-man.svg' | relative_url }}" alt="Profile's Icon" height="30" width="30">
                                    <span class="sr-only">Profile</span>
                                </a>
                            </li>
                            {%- endif -%}

                            {%- if site.data.resume.skills.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Skill" href="#skill">
                                    <img src="{{ '/assets/icons/021-tools.svg' | relative_url }}" alt="Skill's Icon"
                                        height="25" width="25">
                                    <span class="sr-only">Skill</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.experience.show or site.data.resume.education.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Experience and Education" href="#education">
                                    <img src="{{ '/assets/icons/002-briefcase.svg' | relative_url }}" alt="Experience and Education's Icon" height="25" width="25">
                                    <span class="sr-only">Experience and Education</span>
                                </a>
                            </li>
                            {%- endif -%}

                            {%- if site.data.resume.portfolio.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Portfolio" href="#portfolio">
                                    <img src="{{ '/assets/icons/001-binders.svg' | relative_url }}" alt="Portfolio's Icon" height="25" width="25">
                                    <span class="sr-only">Portfolio</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.reference.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Reference" href="#reference">
                                    <img src="{{ '/assets/icons/003-target.svg' | relative_url }}" alt="Reference's Icon" height="25" width="25">
                                    <span class="sr-only">Reference</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.publication.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Publication" href="#publication">
                                    <img src="{{ '/assets/icons/020-book.svg' | relative_url }}" alt="Publication's Icon" height="25" width="25">
                                    <span class="sr-only">Publication</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.interest.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Interest" href="#interest">
                                    <img src="{{ '/assets/icons/011-boat.svg' | relative_url }}" alt="Interest's Icon" height="25" width="25">
                                    <span class="sr-only">Interest</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.blog.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Blog" href="#blog">
                                    <img src="{{ '/assets/icons/004-feather.svg' | relative_url }}" alt="Blog's Icon" height="25" width="25">
                                    <span class="sr-only">Blog</span>
                                </a>
                            </li>
                            {%- endif -%}
                            
                            {%- if site.data.resume.contact.show -%}
                            <li class="list-inline-item mr-0 d-block">
                                <a title="Contact" href="#contact">
                                    <img src="{{ '/assets/icons/005-identification.svg' | relative_url }}" alt="Contact's Icon" height="25" width="25">
                                    <span class="sr-only">Contact</span>
                                </a>
                            </li>
                            {%- endif -%}
                        </ul>
                    </div>
                </div>

                {%- if site.data.resume.personalinfo.show -%}
                <div class="card cv-card" id="profile">
                    <div class="row">
                        <div class="col-3 print">
                            <img class="img-fluid img-responsive" src="{{ site.data.resume.picture | relative_url }}" alt="{{ site.data.resume.name }} Profile Picture" height="200" width="200">
                        </div>
                        <div class="col">
                            <h2 class="h4 font-weight-bold text-uppercase">{{ site.data.resume.greetings }}</h2>
                            <div class="card-body">
                                
                                <p>{{ site.data.resume.introduction }}</p>
                                <small class="float-right">Last updated: {{ site.data.resume.last_update }}</small>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h3 class="h5 mb-4">personal information</h3>
                        <table>
                            <tbody>
                                {%- for personalinfo in site.data.resume.personalinfo.lists -%}
                                <tr>
                                    <th class="text-uppercase text-nowrap" scope="row">{{ personalinfo.title }}</th>
                                    <td>{{ personalinfo.value }}</td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    </div>
                </div>
                {%- endif -%}

                {%- if site.data.resume.skills.show -%}
                <div class="card cv-card" id="skill">
                    <h2 class="h4 font-weight-bold text-uppercase">Skill</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="h5 mb-4">soft skill</h3>
                                <ul class="list-inline mb-0">
                                    {%- for softskill in site.data.resume.skills.lists[0].softskill -%}
                                    <li class="list-inline-item mb-2 mr-3">
                                        <img src="{{ softskill.icon | relative_url }}" alt="{{ softskill.name }}" height="30"
                                            width="30">
                                        {{ softskill.name }}
                                        <span class="sr-only">{{ softskill.name }}</span>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                            <div class="col-6">
                                <h3 class="h5 mb-4">language skill</h3>
                                <ul class="list-inline">
                                    {%- for langskill in site.data.resume.skills.lists[1].languageskill -%}
                                    <li class="list-inline-item">
                                        {{ langskill.lang }} ({{ langskill.stats }})
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h3 class="h5">hard skill</h3>
                        <div class="row">
                            {%- for hardskill in site.data.resume.skills.lists[2].hardskill -%}
                            <h4 class="h6 col-12 mt-4"><strong>{{ hardskill.category }}</strong></h4>
                            {%- for skill in hardskill.skill -%}
                            <div class="col-6">
                                <p class="mb-0 d-inline">{{ skill.name }} <span class="print float-right">{{ skill.stats }}/100</span></p>
                                <div class="progress mb-2 no-print">
                                    <div class="progress-bar progress-bar-theme bg-purple" role="progressbar"
                                        aria-valuenow="{{ skill.stats }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.stats }}%;">
                                        <span class="sr-only">{{ skill.stats }}/100</span>
                                    </div>
                                </div>
                            </div>
                            {%- endfor -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                {%- endif -%}
                
                {%- if site.data.resume.experience.show or site.data.resume.education.show -%}
                <div class="card cv-card" id="education">
                    {%- if site.data.resume.experience.show -%}
                    <h2 class="h4 font-weight-bold text-uppercase">Experiences</h2>
                    <div class="card-body">
                        {%- assign experiences = site.data.resume.experience.lists -%}
                        {%- assign size = experiences.size | minus: 1 -%}
                        {%- if experiences -%}
                        <table>
                            <tbody>
                                {%- for experience in experiences -%}
                                <tr>
                                    <td class="edu-year text-center align-middle text-nowrap">{{ experience.active }}</td>
                                    <td class="border-left {%- if experience == experiences[size] -%} border-white {%- endif -%}">
                                        <h3 class="h5">{{ experience.job }}</h3>
                                        {%- for company in experience.company -%}
                                        <strong>{{ company.name }}</strong>
                                        <p>{{ company.job_description }}</p>
                                        {%- endfor -%}
                                    </td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        {%- endif -%}
                    </div>
                    {%- endif -%}

                    {%- if site.data.resume.experience.show and site.data.resume.education.show -%}
                    <hr>
                    {%- endif -%}
                    
                    {%- if site.data.resume.education.show -%}
                    <h2 class="h4 font-weight-bold text-uppercase">Educations</h2>
                    <div class="card-body">
                        {%- assign educations = site.data.resume.education.lists -%}
                        {%- assign size = educations.size | minus: 1 -%}
                        <table>
                            <tbody>
                                {%- if educations -%}
                                {%- for education in educations -%}
                                <tr>
                                    <td class="edu-year text-center align-middle text-nowrap">{{ education.active }}</td>
                                    <td class="border-left {%- if education == educations[size] -%} border-white {%- endif -%}">
                                        <h3 class="h5">{{ education.institution }}</h3>
                                        <strong>{{ education.degree }}</strong>
                                        <p>{{ education.major }}</p>
                                    </td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                </div>
                {%- endif -%}

                {%- if site.data.resume.portfolio.show -%}
                <div class="card cv-card" id="portfolio">
                    <h2 class="h4 font-weight-bold text-uppercase">Portfolios</h2>
                    <div class="card-body">
                        <div class="card-columns">
                            {% assign sorted = site.portfolios | sort: 'release_date' | reverse %}
                            {% for portfolio in sorted %}
                            {% if portfolio.show_on_resume %}
                            <div class="card rounded-0">
                                <img src="{{ portfolio.icon_image }}" alt="{{ portfolio.title }} - {{ portfolio.subtitle }}" class="card-img-top rounded-0">
                                <div class="card-body p-3 text-center">
                                    <h3 class="h5 card-title">{{ portfolio.title }}</h3>
                                    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                                    <p class="card-text"><small class="text-muted">Released: {{ portfolio.release_date | date: date_format }}</small></p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-muted px-0 mt-4">
                        <a href="{{ '/portfolios' | relative_url }}" target="_blank"
                            class="btn bg-purple text-white btn-block rounded-pill no-print">SEE MORE</a>
                        <p class="text-center print mb-0">
                            See More : https://magicjar.github.io/portfolios
                        </p>
                    </div>
                </div>
                {%- endif -%}
                
                {%- if site.data.resume.reference.show -%}
                <div class="card cv-card" id="reference">
                    <h2 class="h4 font-weight-bold text-uppercase">References</h2>
                    <div class="card-body">
                        <div class="row">
                            {%- for ref in site.data.resume.reference.lists -%}
                            <div class="col-6 col-sm-4 col-lg-3 text-center">
                                <img class="img-fluid rounded-circle mb-3" src="{{ ref.photo | relative_url }}" alt="{{ ref.name }}'s Photo">
                                <h3 class="h5">{{ ref.name }}</h3>
                                <p class="text-muted mb-0">{{ ref.occupation }}</p>
                                <strong>{{ ref.contact }}</strong>
                            </div>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                {%- endif -%}

                {%- if site.data.resume.publication.show -%}
                <div class="card cv-card" id="publication">
                    <h2 class="h4 font-weight-bold text-uppercase">Publications</h2>
                    <div class="card-body">
                        <div class="row">
                            {%- for pub in site.data.resume.publication.lists -%}
                            
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                {%- endif -%}

                {%- if site.data.resume.interest.show -%}
                <div class="card cv-card" id="interest">
                    <h2 class="h4 font-weight-bold text-uppercase">Interests</h2>
                    <div class="card-body">
                        <ul class="list-inline mb-0">
                            {%- for interest in site.data.resume.interest.lists -%}
                            <li class="list-inline-item mb-2 mr-3">
                                <img src="{{ interest.icon | relative_url }}" alt="{{ interest.name }}" height="30" width="30">
                                {{ interest.name }}
                                <span class="sr-only">{{ interest.name }}</span>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
                {%- endif -%}

                {%- if site.data.resume.blog.show -%}
                <div class="card cv-card no-print" id="blog">
                    <h2 class="h4 font-weight-bold text-uppercase">Blog</h2>
                    <div class="card-body">
                        {%- for post in site.posts limit:site.data.resume.blog.limit -%}
                        <a href="{{ post.url | relative_url }}" target="_blank">
                            <h3 class="h5">{{ post.title | escape }}</h3>
                        </a>
                        {%- endfor -%}
                    </div>
                    <div class="text-muted px-0 mt-4">
                        <a href="{{ '/blog' | relative_url }}" class="btn bg-purple text-white btn-block rounded-pill no-print">SEE MORE</a>
                        <p class="text-center print mb-0">
                            See More : https://magicjar.github.io/blog
                        </p>
                    </div>
                </div>
                {%- endif -%}

                {%- if site.data.resume.contact.show -%}
                <div class="card cv-card no-print" id="contact">
                    <h2 class="h4 font-weight-bold text-uppercase">Contact</h2>
                    <div class="card-body text-center">
                        {%- if site.data.resume.contact.message -%}
                        <p>{{ site.data.resume.contact.message }}</p>
                        {%- endif -%}
                        {%- if site.data.resume.contact.email -%}
                        <p>{{ site.data.resume.contact.email }}</p>
                        {%- endif -%}
                        {%- if site.data.resume.contact.show_social_media -%}
                        {%- include socialmedia.html -%}
                        {%- endif -%}
                    </div>
                </div>
                {%- endif -%}

                <div class="text-muted text-center" style="margin-bottom: 2rem;">
                    <small>Icons made by [multiple authors] from @flaticon.</small>
                </div>
            </div>
        </div>
    </div>
</div>